@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?n4v83y');
	src:url('../fonts/icomoon.eot?n4v83y#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?n4v83y') format('truetype'),
		url('../fonts/icomoon.woff?n4v83y') format('woff'),
		url('../fonts/icomoon.svg?n4v83y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';	
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
	content: "\e800";
}
.icon-alt:before {
	content: "\e801";
}
.icon-android:before {
	content: "\e802";
}
.icon-apple:before {
	content: "\e803";
}
.icon-appstore:before {
	content: "\e804";
}
.icon-arrow_1:before {
	content: "\e805";
}
.icon-arrow_2:before {
	content: "\e806";
}
.icon-arrow_down:before {
	content: "\e807";
}
.icon-arrow_left:before {
	content: "\e808";
}
.icon-arrow_right:before {
	content: "\e809";
}
.icon-arrows:before {
	content: "\e80a";
}
.icon-arrows_horizontal:before {
	content: "\e80b";
}
.icon-arrows_horizontal_2:before {
	content: "\e80c";
}
.icon-arrows_vertical:before {
	content: "\e80d";
}
.icon-arrows_vertical_2:before {
	content: "\e80e";
}
.icon-arrow_up:before {
	content: "\e80f";
}
.icon-bar_chart_1:before {
	content: "\e810";
}
.icon-bar_chart_2:before {
	content: "\e811";
}
.icon-bar_chart_3:before {
	content: "\e812";
}
.icon-bar_graph:before {
	content: "\e813";
}
.icon-basket:before {
	content: "\e814";
}
.icon-basket_add:before {
	content: "\e815";
}
.icon-basket_delete:before {
	content: "\e816";
}
.icon-basket_ok:before {
	content: "\e817";
}
.icon-basket_remove:before {
	content: "\e818";
}
.icon-battery_1_3:before {
	content: "\e819";
}
.icon-battery_2_3:before {
	content: "\e81a";
}
.icon-battery_empty:before {
	content: "\e81b";
}
.icon-battery_full:before {
	content: "\e81c";
}
.icon-behance:before {
	content: "\e81d";
}
.icon-bell:before {
	content: "\e81e";
}
.icon-bin:before {
	content: "\e81f";
}
.icon-block:before {
	content: "\e820";
}
.icon-bluetooth:before {
	content: "\e821";
}
.icon-book:before {
	content: "\e822";
}
.icon-book_1:before {
	content: "\e823";
}
.icon-book_2:before {
	content: "\e824";
}
.icon-bookmark:before {
	content: "\e825";
}
.icon-brightness_high:before {
	content: "\e826";
}
.icon-brightness_low:before {
	content: "\e827";
}
.icon-browser:before {
	content: "\e828";
}
.icon-browser_add:before {
	content: "\e829";
}
.icon-browser_delete:before {
	content: "\e82a";
}
.icon-browser_layout_1:before {
	content: "\e82b";
}
.icon-browser_layout_2:before {
	content: "\e82c";
}
.icon-browser_layout_3:before {
	content: "\e82d";
}
.icon-browser_ok:before {
	content: "\e82e";
}
.icon-browser_remove:before {
	content: "\e82f";
}
.icon-bullseye:before {
	content: "\e830";
}
.icon-calendar:before {
	content: "\e831";
}
.icon-calendar_add:before {
	content: "\e832";
}
.icon-calendar_ok:before {
	content: "\e833";
}
.icon-camera:before {
	content: "\e834";
}
.icon-cassette:before {
	content: "\e835";
}
.icon-chart:before {
	content: "\e836";
}
.icon-chart_1_2:before {
	content: "\e837";
}
.icon-chart_1_4:before {
	content: "\e838";
}
.icon-chart_1_8:before {
	content: "\e839";
}
.icon-chart_3_4:before {
	content: "\e83a";
}
.icon-chart_3_8:before {
	content: "\e83b";
}
.icon-chart_5_8:before {
	content: "\e83c";
}
.icon-chart_7_8:before {
	content: "\e83d";
}
.icon-circle:before {
	content: "\e83e";
}
.icon-circle_delete:before {
	content: "\e83f";
}
.icon-circle_down:before {
	content: "\e840";
}
.icon-circle_fast_forward:before {
	content: "\e841";
}
.icon-circle_left:before {
	content: "\e842";
}
.icon-circle_minus:before {
	content: "\e843";
}
.icon-circle_ok:before {
	content: "\e844";
}
.icon-circle_pause:before {
	content: "\e845";
}
.icon-circle_play:before {
	content: "\e846";
}
.icon-circle_plus:before {
	content: "\e847";
}
.icon-circle_rewind:before {
	content: "\e848";
}
.icon-circle_right:before {
	content: "\e849";
}
.icon-circle_skip_next:before {
	content: "\e84a";
}
.icon-circle_skip_previous:before {
	content: "\e84b";
}
.icon-circle_stop:before {
	content: "\e84c";
}
.icon-circle_up:before {
	content: "\e84d";
}
.icon-clip:before {
	content: "\e84e";
}
.icon-close:before {
	content: "\e84f";
}
.icon-cloud:before {
	content: "\e850";
}
.icon-cloud_download:before {
	content: "\e851";
}
.icon-cloud_fail:before {
	content: "\e852";
}
.icon-cloud_ok:before {
	content: "\e853";
}
.icon-cloud_upload:before {
	content: "\e854";
}
.icon-code:before {
	content: "\e855";
}
.icon-cog:before {
	content: "\e856";
}
.icon-columns:before {
	content: "\e857";
}
.icon-command:before {
	content: "\e858";
}
.icon-compass:before {
	content: "\e859";
}
.icon-computer_add:before {
	content: "\e85a";
}
.icon-computer_delete:before {
	content: "\e85b";
}
.icon-computer_download:before {
	content: "\e85c";
}
.icon-computer_ok:before {
	content: "\e85d";
}
.icon-computer_remove:before {
	content: "\e85e";
}
.icon-computer_upload:before {
	content: "\e85f";
}
.icon-copy_1:before {
	content: "\e860";
}
.icon-copy_2:before {
	content: "\e861";
}
.icon-credit_card:before {
	content: "\e862";
}
.icon-crop:before {
	content: "\e863";
}
.icon-diskette:before {
	content: "\e864";
}
.icon-document:before {
	content: "\e865";
}
.icon-document_add:before {
	content: "\e866";
}
.icon-document_delete:before {
	content: "\e867";
}
.icon-document_download:before {
	content: "\e868";
}
.icon-document_ok:before {
	content: "\e869";
}
.icon-document_remove:before {
	content: "\e86a";
}
.icon-documents:before {
	content: "\e86b";
}
.icon-document_upload:before {
	content: "\e86c";
}
.icon-download:before {
	content: "\e86d";
}
.icon-dribbble:before {
	content: "\e86e";
}
.icon-drop:before {
	content: "\e86f";
}
.icon-dropbox:before {
	content: "\e870";
}
.icon-eject:before {
	content: "\e871";
}
.icon-equalizer:before {
	content: "\e872";
}
.icon-facebook_1:before {
	content: "\e873";
}
.icon-facebook_2:before {
	content: "\e874";
}
.icon-fast_forward:before {
	content: "\e875";
}
.icon-first_aid:before {
	content: "\e876";
}
.icon-folder:before {
	content: "\e877";
}
.icon-folder_add:before {
	content: "\e878";
}
.icon-folder_delete:before {
	content: "\e879";
}
.icon-folder_ok:before {
	content: "\e87a";
}
.icon-folder_remove:before {
	content: "\e87b";
}
.icon-followers:before {
	content: "\e87c";
}
.icon-following:before {
	content: "\e87d";
}
.icon-font_size_down:before {
	content: "\e87e";
}
.icon-font_size_up:before {
	content: "\e87f";
}
.icon-forrst:before {
	content: "\e880";
}
.icon-foursquare:before {
	content: "\e881";
}
.icon-frame:before {
	content: "\e882";
}
.icon-globe:before {
	content: "\e883";
}
.icon-google_plus:before {
	content: "\e884";
}
.icon-graph_fall:before {
	content: "\e885";
}
.icon-graph_rise:before {
	content: "\e886";
}
.icon-grid_1:before {
	content: "\e887";
}
.icon-grid_2:before {
	content: "\e888";
}
.icon-hashtag:before {
	content: "\e889";
}
.icon-heart:before {
	content: "\e88a";
}
.icon-home:before {
	content: "\e88b";
}
.icon-imac:before {
	content: "\e88c";
}
.icon-image:before {
	content: "\e88d";
}
.icon-inbox:before {
	content: "\e88e";
}
.icon-inbox_in:before {
	content: "\e88f";
}
.icon-inbox_out:before {
	content: "\e890";
}
.icon-instagram:before {
	content: "\e891";
}
.icon-ipad:before {
	content: "\e892";
}
.icon-iphone:before {
	content: "\e893";
}
.icon-layers:before {
	content: "\e894";
}
.icon-line_graph:before {
	content: "\e895";
}
.icon-line_graph_square:before {
	content: "\e896";
}
.icon-link:before {
	content: "\e897";
}
.icon-linkedin:before {
	content: "\e898";
}
.icon-list:before {
	content: "\e899";
}
.icon-list_2:before {
	content: "\e89a";
}
.icon-loading:before {
	content: "\e89b";
}
.icon-location:before {
	content: "\e89c";
}
.icon-lock:before {
	content: "\e89d";
}
.icon-login:before {
	content: "\e89e";
}
.icon-logout:before {
	content: "\e89f";
}
.icon-macbook:before {
	content: "\e8a0";
}
.icon-magnifying_glass:before {
	content: "\e8a1";
}
.icon-magnifying_glass_add:before {
	content: "\e8a2";
}
.icon-magnifying_glass_remove:before {
	content: "\e8a3";
}
.icon-mail:before {
	content: "\e8a4";
}
.icon-mail_incoming:before {
	content: "\e8a5";
}
.icon-mail_outgoing:before {
	content: "\e8a6";
}
.icon-map:before {
	content: "\e8a7";
}
.icon-map_add:before {
	content: "\e8a8";
}
.icon-map_delete:before {
	content: "\e8a9";
}
.icon-map_ok:before {
	content: "\e8aa";
}
.icon-map_remove:before {
	content: "\e8ab";
}
.icon-microphone:before {
	content: "\e8ac";
}
.icon-microphone_off:before {
	content: "\e8ad";
}
.icon-microsoft:before {
	content: "\e8ae";
}
.icon-minus:before {
	content: "\e8af";
}
.icon-more:before {
	content: "\e8b0";
}
.icon-more_2:before {
	content: "\e8b1";
}
.icon-moustache:before {
	content: "\e8b2";
}
.icon-music:before {
	content: "\e8b3";
}
.icon-notepad:before {
	content: "\e8b4";
}
.icon-notepad_add:before {
	content: "\e8b5";
}
.icon-notepad_delete:before {
	content: "\e8b6";
}
.icon-notepad_ok:before {
	content: "\e8b7";
}
.icon-notepad_remove:before {
	content: "\e8b8";
}
.icon-pause:before {
	content: "\e8b9";
}
.icon-paypal:before {
	content: "\e8ba";
}
.icon-pen_1:before {
	content: "\e8bb";
}
.icon-pen_2:before {
	content: "\e8bc";
}
.icon-pen_3:before {
	content: "\e8bd";
}
.icon-picture:before {
	content: "\e8be";
}
.icon-pie_chart:before {
	content: "\e8bf";
}
.icon-pill:before {
	content: "\e8c0";
}
.icon-pin_1:before {
	content: "\e8c1";
}
.icon-pin_2:before {
	content: "\e8c2";
}
.icon-pinterest_1:before {
	content: "\e8c3";
}
.icon-pinterest_2:before {
	content: "\e8c4";
}
.icon-pin_zoom_in:before {
	content: "\e8c5";
}
.icon-pin_zoom_out:before {
	content: "\e8c6";
}
.icon-play:before {
	content: "\e8c7";
}
.icon-plug:before {
	content: "\e8c8";
}
.icon-plus:before {
	content: "\e8c9";
}
.icon-polaroid:before {
	content: "\e8ca";
}
.icon-polaroids:before {
	content: "\e8cb";
}
.icon-power:before {
	content: "\e8cc";
}
.icon-presentation:before {
	content: "\e8cd";
}
.icon-printer:before {
	content: "\e8ce";
}
.icon-progress:before {
	content: "\e8cf";
}
.icon-record:before {
	content: "\e8d0";
}
.icon-repeat:before {
	content: "\e8d1";
}
.icon-repeat_1:before {
	content: "\e8d2";
}
.icon-repeat_2:before {
	content: "\e8d3";
}
.icon-resize_1:before {
	content: "\e8d4";
}
.icon-resize_2:before {
	content: "\e8d5";
}
.icon-resize_3:before {
	content: "\e8d6";
}
.icon-resize_4:before {
	content: "\e8d7";
}
.icon-resize_5:before {
	content: "\e8d8";
}
.icon-resize_6:before {
	content: "\e8d9";
}
.icon-rewind:before {
	content: "\e8da";
}
.icon-rss:before {
	content: "\e8db";
}
.icon-screen_expand_1:before {
	content: "\e8dc";
}
.icon-screen_expand_2:before {
	content: "\e8dd";
}
.icon-screen_expand_3:before {
	content: "\e8de";
}
.icon-share:before {
	content: "\e8df";
}
.icon-share_2:before {
	content: "\e8e0";
}
.icon-shop:before {
	content: "\e8e1";
}
.icon-shopping_bag:before {
	content: "\e8e2";
}
.icon-shopping_cart:before {
	content: "\e8e3";
}
.icon-shopping_cart_add:before {
	content: "\e8e4";
}
.icon-shopping_cart_delete:before {
	content: "\e8e5";
}
.icon-shopping_cart_ok:before {
	content: "\e8e6";
}
.icon-shopping_cart_remove:before {
	content: "\e8e7";
}
.icon-shuffle:before {
	content: "\e8e8";
}
.icon-skip_next:before {
	content: "\e8e9";
}
.icon-skip_previous:before {
	content: "\e8ea";
}
.icon-skype:before {
	content: "\e8eb";
}
.icon-slideshow:before {
	content: "\e8ec";
}
.icon-speech_1:before {
	content: "\e8ed";
}
.icon-speech_2:before {
	content: "\e8ee";
}
.icon-speech_3:before {
	content: "\e8ef";
}
.icon-speech_4:before {
	content: "\e8f0";
}
.icon-speech_bubble_1:before {
	content: "\e8f1";
}
.icon-speech_bubble_2:before {
	content: "\e8f2";
}
.icon-speech_bubbles:before {
	content: "\e8f3";
}
.icon-spotify:before {
	content: "\e8f4";
}
.icon-square:before {
	content: "\e8f5";
}
.icon-square_add:before {
	content: "\e8f6";
}
.icon-square_dashed:before {
	content: "\e8f7";
}
.icon-square_delete:before {
	content: "\e8f8";
}
.icon-square_down:before {
	content: "\e8f9";
}
.icon-square_left:before {
	content: "\e8fa";
}
.icon-square_ok:before {
	content: "\e8fb";
}
.icon-square_remove:before {
	content: "\e8fc";
}
.icon-square_right:before {
	content: "\e8fd";
}
.icon-square_up:before {
	content: "\e8fe";
}
.icon-star:before {
	content: "\e8ff";
}
.icon-stop:before {
	content: "\e900";
}
.icon-suitcase:before {
	content: "\e901";
}
.icon-tag:before {
	content: "\e902";
}
.icon-tags:before {
	content: "\e903";
}
.icon-target:before {
	content: "\e904";
}
.icon-terminal:before {
	content: "\e905";
}
.icon-text_center:before {
	content: "\e906";
}
.icon-text_justify:before {
	content: "\e907";
}
.icon-text_left:before {
	content: "\e908";
}
.icon-text_right:before {
	content: "\e909";
}
.icon-tick:before {
	content: "\e90a";
}
.icon-time:before {
	content: "\e90b";
}
.icon-timer:before {
	content: "\e90c";
}
.icon-tumblr:before {
	content: "\e90d";
}
.icon-twitter:before {
	content: "\e90e";
}
.icon-unlock:before {
	content: "\e90f";
}
.icon-upload:before {
	content: "\e910";
}
.icon-user:before {
	content: "\e911";
}
.icon-user_add:before {
	content: "\e912";
}
.icon-user_circle:before {
	content: "\e913";
}
.icon-user_delete:before {
	content: "\e914";
}
.icon-user_ok:before {
	content: "\e915";
}
.icon-user_remove:before {
	content: "\e916";
}
.icon-users:before {
	content: "\e917";
}
.icon-user_square:before {
	content: "\e918";
}
.icon-view:before {
	content: "\e919";
}
.icon-view_off:before {
	content: "\e91a";
}
.icon-vimeo:before {
	content: "\e91b";
}
.icon-voicemail:before {
	content: "\e91c";
}
.icon-volume_1:before {
	content: "\e91d";
}
.icon-volume_2:before {
	content: "\e91e";
}
.icon-volume_3:before {
	content: "\e91f";
}
.icon-volume_down:before {
	content: "\e920";
}
.icon-volume_mute:before {
	content: "\e921";
}
.icon-volume_off:before {
	content: "\e922";
}
.icon-volume_up:before {
	content: "\e923";
}
.icon-warning:before {
	content: "\e924";
}
.icon-wifi_1:before {
	content: "\e925";
}
.icon-wifi_2:before {
	content: "\e926";
}
.icon-wifi_3:before {
	content: "\e927";
}
.icon-windows:before {
	content: "\e928";
}
.icon-youtube:before {
	content: "\e929";
}
.icon-zoom_in:before {
	content: "\e92a";
}
.icon-zoom_out:before {
	content: "\e92b";
}

